# dependencies
node_modules/

# build
build/
dist/
*.tsbuildinfo

# Expo
.expo/
web-build/
expo-env.d.ts

# Native folders (generated)
# ios/
# android/

# OS files
.DS_Store

# logs
npm-debug.*
yarn-debug.*
yarn-error.*

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Packages for code editors
.vscode/
.idea/
android/
ios/
